<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Reservation</title>

<!-- Bootstrap CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!--Link to my css-->
<link rel="stylesheet" href="../style.css">
<!--Font Awsome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>


<body>
<ul>
{% for hotel in data.hotels %}
<li>
    <h6>{{hotel.name}}</h6>
    <ul>
        {% for room in hotel.rooms %}
            <li>{{room.name}} - {{ room.type }} - price: {{ room.total_price }}$ 
            <a href="/home/reserve?roomId={{room.id}}&from-date={{data.from_date}}&to-date={{data.to_date}}&guest={{data.guest}}">reserve</a> </li>
        {% endfor %}
    </ul>
</li>
{% endfor %}
</ul>
</body>
</html>